<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
			integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>

		<div class="container w-50" style="max-width: 25rem;">
			<div class="form-group">
				<label for="select_users">Séléctionnez un utilisateur pour afficher ses informations</label>
				<select  class="form-control" name="select_users" id="selectUsers">
					<option value="" selected disabled>Veuillez chosir un utilisateur</option>

					<% for (const user in users) { %>
						<option value="<%= users[user].id %>" ><%= users[user].nom %></option>
					<% } %>
				</select>
			</div>

			<div class="user-identity" id="user-identity" style="display: none;">
				<div class="card mb-3 d-flex justify-content-center">
					<div class="card-header"> Utilisateur séléctionné </div>
					<div class="card-body">
						<h5 class="card-title"> <span id="display-user-name"></span>, <span id="display-user-age"></span> ans </h5>
						<div class="card-text">
							<p>
								Profession:
								<span id="display-user-job"></span>
							</p>
							<p>
								Adresse mail:
								<span id="display-user-email"></span>
							</p>
							<p>
								Numéro de téléphone:
								<span id="display-user-tel"></span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- #### SCRIPTS #### -->
		<script
			src="https://code.jquery.com/jquery-3.4.1.min.js"
			integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			crossorigin="anonymous"
		></script>

		<script
			src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
			integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
			crossorigin="anonymous"
		></script>

		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
			integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
			crossorigin="anonymous"
		></script>

		<script src="/javascripts/scriptUsers.js"></script>
	</body>
</html>
